<p>
  Hallo <%= @client.firstname %>,<br>
  mit <b>head stories concierge</b> erhältst Du Termine bequem per Email und kannst sie auch ganz einfach in Deinem Kalender abbonieren.
</p>
<p>
  Bitte klicke folgenden Link:<br>
  <%= link_to "Bitte bestätigen", accept_client_invitation_url(@client, :consent_token => @client.consent_token) %>
</p>
<p>
  <small>Damit akzeptierst du, dass wir Dir Email zur Terminvereinbarung schicken dürfen.</small>
  <small>Wenn du head stories concierge nicht nutzen möchtest kannst du diese Email einfach ignorieren.</small>
</p>
