<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo-wrapper">
        <a href="http://www.headstories.de/de/index.html">
          <img src="http://headstories.dev.andrezimpel.com/dist/img/head-stories-vertical@2x.jpg" srcset="http://headstories.dev.andrezimpel.com/dist/img/head-stories-vertical@2x.jpg 2x" alt="head stories home" width="250">
        </a>
      </div>
      <nav class="navbar">
        <div class="collapse navbar-collapse" id="head-stories-main-navigation">
        </div>
      </nav>
    </div>
  </div>
</header>
