<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- If you delete this meta tag, Half Life 3 will never be released. -->
		<meta name="viewport" content="width=device-width" />

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ZURBemails</title>

		<link rel="stylesheet" type="text/css" href="/assets/email.css" />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>

	</head>

	<body bgcolor="#FFFFFF">

	<!-- HEADER -->
	<table class="head-wrap" bgcolor="#FFFFFF">
		<tr>
			<td></td>
			<td class="header container" >

					<div class="content">
					<table bgcolor="#FFFFFF">
						<tr>
							<td class="logo">
								<img src="http://www.headstories.de/dist/img/head-stories-vertical@2x.jpg" width="320" />
							</td>
						</tr>
					</table>
					</div>

			</td>
			<td></td>
		</tr>
	</table><!-- /HEADER -->


	<!-- BODY -->
	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container" bgcolor="#FFFFFF">

				<div class="content">
				<table>
					<tr>
						<td>
							<h1>concierge</h1>
							<br>
							<%= yield %>
						</td>
					</tr>
				</table>
				</div><!-- /content -->

			</td>
			<td></td>
		</tr>
	</table><!-- /BODY -->

	</body>
</html>
